@import "tailwindcss";
@plugin "daisyui" {
	themes:
		corporate --default,
		night --prefersdark;
}
@plugin "@kobalte/tailwindcss";

@theme {
	/* For kobalte anims */
	--animate-content-show: contentShow 250ms ease-out;
	--animate-content-hide: contentHide 250ms ease-in forwards;

	@keyframes contentShow {
		from {
			opacity: 0;
			transform: scale(0.96);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}
	@keyframes contentHide {
		from {
			opacity: 1;
			transform: scale(1);
		}
		to {
			opacity: 0;
			transform: scale(0.96);
		}
	}
}
