@reference "../../../shared/app.css";

.ct-label {
	@apply text-base-content;
	@apply fill-base-content;

	&.ct-vertical.ct-start::after {
		content: "MB";
	}
}

.ct-series-a {
	.ct-area {
		@apply fill-primary/75;
	}

	.ct-point,
	.ct-line {
		@apply stroke-primary;
	}
}

.ct-series-b {
	.ct-area {
		@apply fill-secondary/75;
	}

	.ct-point,
	.ct-line {
		@apply stroke-secondary;
	}
}

.ct-chart-pie,
.ct-chart-donut {
	.ct-label {
		@apply font-semibold;
	}
}

/* Target the horizontal cards */
.flex-row {
	.ct-label.ct-vertical.ct-start {
		@apply hidden;
	}
}
